.container{
    display: flex;
    margin: auto;
    flex-direction: column;
    max-width: 70%;
}

.navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 40px;
    font-weight: 600;
}

.navbar button:focus {
    outline: none;
}

.navbar span {
    cursor: pointer;
}

.prenav {
    display: flex;
    align-items: center;
}

.img {
    width: 50px;
}

.img img {
    width: 100%;
}

.css-t-body {
    border-radius: 10px;
}

.css-table {
    display: table;
    border-radius: 10px;
    border: rgb(214, 211, 211) 1px solid;
    margin-bottom: 20px;
    margin-top: 50px;
}

.css-thead, .css-t-body {
    display: table-header-group;
    text-align: center;
}

.css-thead {
    background-color: silver;
}

.css-thead:nth-child(1) .css-th:first-child {
    border-top-left-radius: 10px;
}

.css-thead:nth-child(1) .css-th:last-child {
    border-top-right-radius: 10px;
}
.css-htr {
    background-color: rgb(240, 212, 128);
}
.css-tr, .css-htr {
    display: table-row;
    text-decoration: none;
    text-align: center;
    height: 60px;
    color: black;
}

/* .css-tr:hover {
    box-shadow: 10px 10px 5px gray;
} */

.css-thead .css-th:nth-child(3) {
    width: 200px;
}

.css-th, .css-td {
    display: table-cell;
    vertical-align: middle;
    padding: 10px;
}

.css-t-body .css-tr:nth-child(2n) {
    background-color: rgb(247, 237, 207);
}

.css-t-body .css-tr:last-child .css-td:first-child {
    border-bottom-left-radius: 10px;
}

.css-t-body .css-tr:last-child .css-td:last-child {
    border-bottom-right-radius: 10px;
}

h1 {
    text-align: center;
}

.search-bar {
    margin: 20px;
    display: flex;
    justify-content: center;
}

.search-bar > input {
    margin-right: 10px;
    padding: 5px;
    outline: none;
    border: none;
    background-color: rgb(253, 250, 250);
    border-radius: 5px;
}
.search-bar > button {
    background-color: rgb(253, 250, 250);
    border-radius: 5px;
}

.pagination {
    display: flex;
    justify-content: center;
}

.pagination > span {
    margin: 0 10px;
    padding: 0 10px;
    text-align: center;
    cursor: pointer;
    border-radius: 5px;
}

.pageNumber:hover {
    color:  white;
    background-color: rgb(247, 191, 26);
}

footer {
    margin-top: 50px;
    border-top: rgb(224, 213, 213) solid 2px;
    text-align: center;
}

/* ==============
    會用到的ＣＳＳ
=================*/
.active-background {
    color:  white;
    background-color: rgb(247, 191, 26);
}

.disabled {
    visibility: hidden;
} 